<h1>User <%= resource.name %></h1>

<%= link_to "Edit", edit_user_path %>
<table>
  <tr><th>Name</th> <td><%= resource.name %></td></tr>
  <tr><th>Role</th> <td><%= resource.role %></td></tr>
</table>
